/*font*/
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: lato;
}

/*navbar*/
.navbar{
    background-color: #080D29 !important;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.pageLinks{
    color:white;
    margin-right: 1em;
    text-align: right;
}
.pageLinks:hover{
    color:#358FEF
}
.toggles{
    background-image: url("../assets/images/bars-removebg-preview.png");
    background-size: 100%;
    height: 25px;
    width: 25px;
}
span{
    display: flex;
    justify-content: flex-end;
}


/*blue background */
.topBg{
    background-color: #358FEF !important;
    padding: 15px;
}


.centerTxt{
    display: flex;
    justify-content: center;
}

.eventsCosmicBowlImg{
    padding: 0px;
    border: 2px black solid;
}

.photo{
    padding: 0px;
}





.btn{
    border-radius: 0px;
}

<<<<<<< HEAD



/*testing */
.cosmicBg{
    padding: 0%;

}

.mid{
    padding: 0px;
}

.midParties{
    padding-top: 0px;
}

#cosmicImgTop{
    
    width: 100%;
}
#cosmicImgMid{
    
    width: 100%;
}
#cosmicImgBtm{
    
    width: 100%;


=======
>>>>>>> bfa78279e31c95a55a3094d648fa1e1df671dd77
#cosmicImgTop{
    width: 100%;
}

#cosmicImgMid{
    padding-left: 0;
    width:100%;
}

#cosmicImgBtm{
    padding-left: 0;
    width:100%;
}


.noPad{
    padding: 0;
}

/*Text*/


.centerTxt{
    text-align: center;
}

.cosmicSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.cosmicSection2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.titleDart{
    padding-top: 25%;
}



/*Lounge*/

.spaceDiv{
    padding-top: 5rem;
    padding-bottom: 5rem;;
}

/*Footer*/
footer{
    background-color: #080D29;
   
    padding: 3rem;
    color:white;
}
h3{
    text-align: center;
}
.footerText{
    margin-bottom: 1rem;;

}