@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #358FEF;
    font-family: lato;
}

/* NavBar */
.navbar{
    background-color: #080D29 !important;
    margin-bottom: 2em;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.pageLinks{
    color:white;
    margin-right: 1em;
    text-align: right;
}
.pageLinks:hover{
    color:#358FEF
}
.toggles{
    background-image: url("../assets/images/bars-removebg-preview.png");
    background-size: 100%;
    height: 25px;
    width: 25px;
}
span{
    display: flex;
    justify-content: flex-end;
}
/* NavBar */

.title{
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.mainContainer{
    margin: none !important;
    display: flex;
    justify-content: center;
}

.leagueCards{
    display: flex;
    justify-content: center;
}

.bothCard{
    border-radius: 25px;
    border: none;
    margin-bottom: 3rem;
    width: 85%;
    height: 95%;
}
.cardImg{
    border-radius: 25px  25px 0px 0px;
}

.bold{
    font-weight: bolder;
}
.juniorCard{
    margin-bottom: 2em;
}
.winterLeagueCard{
    margin-bottom: 2em;

}
.juniorElimText{
    margin-top: 1em;
    margin-bottom: 2em;
}
.textRight{
    text-align: end;
}
.framerText{
    margin-top: 1em;
    margin-bottom: 2em;
}
.cardBtn{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.learnBtn{
    border-radius: 0;
    background-color: #196CB8 !important;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlightsCard{
    background: url("../assets/images/highlightsBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 115% ;
    height: 20rem;
    color: white;
    border-radius: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
}
.highlights{
    background-color: white;
    padding-top: 2rem;
}

.innerHighlights{
    display: flex;
    justify-content: space-around;
}
.opacBg{
    background-color: #0d142e71;

}
/* 
@media screen and (min-width:1288px){

} */







/* footer */

footer{
    background-color: #080D29;
    padding: 3rem;
    color:white;
}
h3{
    text-align: center;
}
.footerText{
    margin-bottom: 1rem;;
}