@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.navbar{
    background-color: #080D29 !important;
    margin-bottom: 2em;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.pageLinks{
    color:white;
    margin-right: 1em;
    text-align: right;
}
.pageLinks:hover{
    color:#358FEF
}
.toggles{
    background-image: url("../assets/images/bars-removebg-preview.png");
    background-size: 100%;
    height: 25px;
    width: 25px;
}
span{
    display: flex;
    justify-content: flex-end;
}

/* Tournament */
body{
    background-color: #358FEF;
}

.tournamentTitle{
    font-size: 50px;
    font-weight: bolder;
}

.tournamentScores{
    font-size: 30px;
    font-weight: bold;
    
}

.cardPicTop {
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ; 
}

.card-margin {
    margin-bottom: 100px;
}

.cardBody {
    padding-top: 0 !important;
}

.cardImg{
    border-radius: 25px  25px 0px 0px;
}

.bothCard{
    border-radius: 25px  25px 0px 0px;
   
}

/* footer */
footer{
    background-color: #080D29;
    margin-top: 3rem;
    padding: 3rem;
    color:white;
    
}
h3{
    text-align: center;
}
.footerText{
    margin-bottom: 1rem;;
}



